.list-info li {
    background-color: #fff;
    margin-bottom: 15px;
    padding-left: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 10px;
    min-height: 80px;
}

.list-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    flex-shrink: 0;
}

.list-details {
    display: inline-block;
}


.label {
    font-weight: bold;
    color: #5c6bc0;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 20px;
    background: #6d6464;
    padding: 10px 20px;
}

.nav_list{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;        
    gap: 10px;
}

.nav_list a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    background-color: #000000;
    border-radius: 8px;
    border-width: 2px;
    padding: 5px;
}

.site-title {
    font-weight: bold;
    font-size: 30px;
    color: white;
}

html{
    background-color:#dcd4d4;
}

.user_input {
    max-width: 1000px;
    margin: 50px auto;
    padding: 25px;

    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.user_input input{
    border-radius: 10px;
    padding-left: 10px;
}

#image{
    display: none;
}

.filtering{
    gap:20px;
    display: flex;
    justify-content: center; 
    align-items:center;
    background:#ffffff;
    max-width: 1500px;
    border-radius: 8px;
    height: 40px;
    margin:auto;
}

#item_delete{
    position: absolute;
    right: 20px;
}