<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Yarn Site</title>
</head>

<body>

    <header class="navbar">

        <h1 class="site-title">Yarn Site</h1>

        <nav>
            <ul class="nav_list">
                <li><a href="/">Home</a></li>
                <li><a href="yarn_storage.html">Yarn Storage</a></li>
                <li><a href="wishlist.html">Wishlist</a></li>
                <li><a href="projects.html">Projects</a></li>
            </ul>
        </nav>

    </header>

    <!-- Like A My projects thing Mby showcase projects with pictures -->
    <!-- Or Wishlist on homescreen with pictures like a box list -->
    <!-- I think were gonna ago for showing 5 last projects worked on or 
    smtn like that 5 last yarns added and last wishlist with like a button on each section -->

   
    <footer>
        <p>© 2026 Yarn Site</p>
    </footer>

</body>
</html>