<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Yarn Storage</title>
</head>
<body>
    <header class="navbar">

        <h1 class="site-title">Yarn Storage Page</h1>

        <nav>
            <ul class="nav_list">
                <li><a href="/">Home</a></li>
                <li><a href="yarn_storage.html">Yarn Storage</a></li>
                <li><a href="wishlist.html">Wishlist</a></li>
                <li><a href="projects.html">Projects</a></li>
            </ul>
        </nav>

    </header>


    <div    >
        <!-- Make the add yarn etc look nicer with css-->

        <h2>Add Yarn</h2>

        <form method="post" enctype="multipart/form-data">
            <input type="text" name="name" placeholder="Enter Yarn Name: ">
            <input type="text" name="type" placeholder="Enter Yarn Type: ">
            <input type="text" name="color" placeholder="Enter Yarn Color: ">
            <input type="file" name="image">

            <button type="submit">Add Yarn</button>
        </form>
    </div>
    <div>
        <h2>List of Yarn</h2>
        <ul class="list-info">
        {% for yarn in yarns %}
            <li>

                <div class="list-details">
                    <span class="label">Name:</span> {{ yarn.y_name }} |
                    <span class="label">Type:</span> {{ yarn.y_type }} |
                    <span class="label">Color:</span> {{ yarn.y_color }} |
                    <span class="label">Image:</span>
                </div>
                    <img class="list-img"
                        src="{{ url_for('static', filename='uploads/' ~ yarn.image) }}"
                        alt="{{ yarn.y_name }}">

            </li>
            {% endfor %}
        </ul>
    </div>  
</body>
</html>